<div id="<%= dom_id post %>" class="">
  <p class="font-bold inline-block">
    Title: <%= post.title %>
  </p>
  <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>

  <p class="font-bold">
    Content: <%= post.content %>
  </p>
</div>
